<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GraphCalc</title>
</head>
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="../static/index.css">
<script src="../static/plotly.js"></script>
<body>

    <div id="output-area" class="container-fluid mt-5">
        <script>
	        TESTER = document.getElementById('output-area');
	        Plotly.newPlot( TESTER, [{
	        x: {{ x }},
	        y: {{ y }} }], {
	        margin: { t: 0 } } );
        </script>
    </div>

    <div id="input-area" class="container-fluid">
        <form method = "post" id="expr">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <input id="expr-input" name = "expr" type="text" placeholder="Input your expression here..." class="form-control mt-3" autocomplete="off" required>
                </div> <!-- 输入文本框  -->

                <input id = "submit" type="submit" name="submit" value="submit the expression">  <!-- 提交按钮 -->
                </div>
        </form>
    </div>

</body>
</html>